body{
    font-family: Roboto, sans-serif;
    color:var(--heder-main-color) ;
    font-size: 14px;
    letter-spacing: 0.03em; 
    background-color:var(--main-hero-color) ;
}
.list{
     list-style: none;
}
:root{
    --heder-first-color:#212121;
    --heder-secondary-color:#757575;
    --heder-accent-color:#2196F3 ;
    --main-first-color:#212121;
    --main-hero-color:#FFFFFF;
    --main-secondary-color:#757575;
    --main-btn-color:#FFFFFF;
    --main-btn-accent-color:#2196F3 ;
    --main-text-color: #757575;
    --footer-first-color:#FFFFFF;
    --footer-secondary-color:rgba(255, 255, 255, 0.6) ;
    --footer-accent-color:#2196F3;

}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.line{
    text-decoration:none
}


/* <<<<<<<<<<<<<<<СТУДІЯ>>>>>>>>>>>>>>>>>.. */

/* <<<<<<<<<<<<<<<ХЕДЕР>>>>>>>>>>>>>>>>>.. */

.heder{
    background-color:#FFFFFF
    
}

/* <<<<<<<<<<<<<<<НАВІГАЦІЯ>>>>>>>>>>>>>>>>>.. */

.heder-logo{
    color: var(--heder-main-color) ;
    font-family: 'Raleway' ,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em; 
}
.web{
    color:var(--heder-accent-color);
    font-family: 'Raleway' ,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em; 
}
.heder-link-main{
    color:var(--heder-accent-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.heder-nav .heder-link{
    color: var(--heder-main-color) ;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.heder-nav .heder-link:hover ,
.heder-nav .heder-link:focus{
    color:var(--heder-accent-color);
}
/* <<<<<<<<<<<<<<<КОНТАКТИ>>>>>>>>>>>>>>>>>.. */

.heder-contact .heder-link{
    color: var(--heder-secondary-color);
    font-weight: 500;
    line-height: 1.14px;
    letter-spacing: 0.02em; 
}
.heder-contact .heder-link:hover ,
.heder-contact .heder-link:focus{
    color:var(--heder-accent-color);
}

/* <<<<<<<<<<<<<<<ГЕРОЙ>>>>>>>>>>>>>>>>>.. */

.hero {
    background-color: #2F303A ;
    color:var(--main-hero-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-btn{
    color: var(--main-hero-color);
    background-color:var(--main-btn-accent-color) ;
    font-family:Roboto, sans-serif;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.hero-btn:hover{
    color: var(--main-btn-accent-color);
    background-color:var(--main-btn-color) ;
    font-family:Roboto, Tahoma , sans-serif; 
}
/* <<<<<<<<<<<<<<<СКІЛИ>>>>>>>>>>>>>>>>>.. */


.skills-title{
    color: var(--main-first-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
}
.skills-text{
    color: var(--main-secondary-color) ;
    line-height: 24px;
}
/* <<<<<<<<<<<<<<< КОНТЕНТ>>>>>>>>>>>>>>>>>.. */

.content{
    color: var(--main-first-color) ;
}
.content{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
/* <<<<<<<<<<<<<<< КОМАНДА>>>>>>>>>>>>>>>>>.. */

.team{
    background-color: #F5F4FA ;
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em; 
}
.team-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;     
}
.team-text{
    color:var(--main-secondary-color) ;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em; 
}
/* <<<<<<<<<<<<<<< ФУТЕР>>>>>>>>>>>>>>>>>.. */

.footer{
    background-color:#2F303A ;
}
.footer-logo{
    color: var(--footer-first-color);
    font-family: 'Raleway' sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.footer .web{
    color: var(--footer-accent-color)  ;  
    font-family: 'Raleway' sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.footer-adress{
    color: var(--footer-first-color);
    font-style: normal;
    line-height: 1.71;
}
.footer-adress:hover,
.footer-adress:focus{
    color:var(--footer-accent-color) ;
}

.footer-contact{
    color:  var(--footer-secondary-color);
    font-style: normal;
    line-height: 1.71;
}
.footer-contact:hover,
.footer-contact:focus{
    color:var() ;
}





/* <<<<<<<<<<<<<<<ПОРТФОЛІО>>>>>>>>>>>>>>>>>.. */


.page-item{
    font-family:Roboto, Tahoma , sans-serif;
    background-color: #F5F4FA;
    color: var(--main-first-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    
}
.page-item:hover,
.page-item:focus{
    font-family:Roboto, Tahoma , sans-serif;
    color: var(--main-hero-color);
    background-color:#2196F3;
}
.page-title{
    color: var(--main-first-color);
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.page-text{
    color: var(--main-text-color);
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.87;
}



/* 
/*основной цвет текста #212121
акцент #2196F3
белый цвет  #FFFFFF
вторичный цвет #757575 
вспомогательный в ховере rgba(255, 255, 255, 0.6) 
ЦВЕТА ФОНА
цвет шапки #FFFFFF
цвет героя #2F303A
основной цвет #E5E5E5
цвет команды #F5F4FA
цвет футора #2F303A */
/*  */


